<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="AutoDealer"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.galua.autodealer.entity.Country</class>
        <class>com.galua.autodealer.entity.AutoDealer</class>
        <class>com.galua.autodealer.entity.Color</class>
        <class>com.galua.autodealer.entity.CarBrand</class>
        <class>com.galua.autodealer.entity.Equipment</class>
    </persistence-unit>
</persistence>
